function func 0
push argument 0
push constant 5
add
pop temp 2
push temp 2
return


function func1 0
push NULL
return

label _L4
function main 3
push local 0
push local 1
eq
pop temp 1
push temp 1
if-goto _L2
push local 0
push local 1
push constant 3
add
pop temp 1
push temp 1
call func 2
pop temp 1
goto _L3
label _L2
push local 0
push local 1
add
pop temp 1
push local 1
push local 2
add
pop temp 2
label _L3
call func1 0
